@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

:root {
  --font-family-logo: "Chango", cursive;
  --font-family-body: "Oswald", sans-serif;
}

body {
  font-family: var(--font-family-body);
  font-weight: 400;
}
.logo {
  font-family: var(--font-family-logo);
  font-size: 2rem;
  letter-spacing: 2px;
}
.outlineoff:active {
  outline: none !important;
}
.container {
  min-height: 190vh;
}

.hero {
  background-image: url(/images/herobg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.searchInput:focus {
  height: 3.2rem;
  backface-visibility: hidden;
}
.badge {
  font-family: var(--font-family-logo);
  letter-spacing: 1px;
}
.cardImage {
  backface-visibility: hidden;
  transition: ease 0.5s;
}
.cardImage:hover {
  transform: scale(1.03);
}
.ImgDetails {
  outline: 5px solid #008080;
}
