@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

$logotextfm: "Chango", cursive;
$bodyfontfm: "Oswald", sans-serif;

body {
  font-family: $bodyfontfm;
  font-weight: 400;
}
.logo {
  font-family: $logotextfm;
  font-size: 2rem;
  letter-spacing: 2px;
}
.outlineoff:active {
  outline: none !important;
}
.container {
  min-height: 190vh;
}

.hero {
  background-image: url(/images/herobg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.searchInput:focus {
  height: 3.2rem;
  backface-visibility: hidden;
}
.badge {
  font-family: $logotextfm;
  letter-spacing: 1px;
}
.cardImage {
  backface-visibility: hidden;
  transition: ease 0.5s;
}
.cardImage:hover {
  transform: scale(1.03);
}
